header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 200px;
    background-image: url('../basic-css/image/home.png');
    background-size: cover;
    

}
h2{
    color: red;
    text-align: center;
}
small {
    background-color: blue;
    width: 50%;

}